[MASTER]
disable=
    C0209, # consider-using-f-string
    R0902, # too-many-instance-attributes
    R0911, # too-many-return-statements
    R0912, # too-many-branches
    R0913, # too-many-arguments
    R0914, # too-many-locals
    R0915, # too-many-statements
    R1702, # too-many-nested-blocks
    W0511, # fixme
    W0621, # redefined-outer-name

[FORMAT]
max-line-length=140
