BIND_IP = "0.0.0.0"
BIND_PORT = 8080

ROUTER = "https://your.openbgpd.api.endpoint.org"

# Used for secure session storage, change this
SESSION_KEY = 'MakeThisSomethingSecret'

LOOKING_GLASS_NAME = "lg.ring.nlnog.net"

ARCHIVE_DIR = "archive/"
DB_FILE = "nlnog-lg.sqlite"
COMMUNITY_FILE = "community_urls.yml"