{% extends "layout.html" %}
{% block body %}
<br/>
<h2>
   NLNOG Looking Glass
</h2>
<br/>
    <div class="input-group justify-content-center">
        <img src="{{ url_for('static', filename='img/nlnog.png') }}">
    </div>
<p>
This Looking Glass is hosted by <a href="https://nlnog.net">NLNOG</a>, The Dutch Network Operators Group. The Looking Glass runs <a href="http://openbgpd.org/">OpenBGPD</a> as backend and a custom made front end,
for which the source code can be found <a href="https://www.github.com/NLNOG/lg.ring.nlnog.net">on GitHub</a>. The code was inspired on <a href="https://github.com/sileht/bird-lg/">bird-lg</a> by Mehdi Abaakouk.
</p>
<p>
The Looking Glass is managed by the NLNOG RING Administrators which can be reached at <a href=""mailto:ring-admins@nlnog.net">ring-admins@nlnog.net</a>. 
You can contact them for questions, reporting issues or setting up new BGP sessions with the Looking Glass server.
</p>
<p>
Hosting of this Looking Glass is generously sponsored by <a href="https://bit.nl">BIT.nl</a>.
</p>

{% endblock %}