{% extends "layout.html" %}
{% block body %}
<br/>
<h2>
   Known BGP communities for AS{{ASN}} - {{asname}}
</h2>
<p>
Community descriptions are available for the following ASNs:
</p>
<table class="table table-striped table-bordered table-condensed table-communities">
    <thead>
        <tr>
            <td>Community</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
      {% for community, desc in communities.items() %}
      <tr class="{{ loop.cycle('odd', 'even') }}">
          <td class="text-end">{{community}}</td>
          <td>{{desc}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<p>
<i>nnn</i> = any number<br>
<i>x</i> = any single digit</br>
</p>
Information on how to submit additions or updates can be found on <a href="/communitylist">this page</a>.
{% endblock %}
