{% extends "layout.html" %}
{% block body %}
<div class="d-flex align-items-center justify-content-center vh-100">

    <form action="/prefix" method="get">
        <div class="input-group justify-content-center">
            <img src="{{ url_for('static', filename='img/nlnog.png') }}">
        </div>
        <div class="input-group justify-content-center">
            <h1 class="display-2">NLNOG Looking Glass</h1>
        </div>
        <div class="input-group justify-content-center">
            <p>
            Please enter an IP address, prefix or hostname to look up in our routing tables.
            </p>
        </div>
        <div class="input-group input-group">
            <span class="input-group-text" id="inputGroup-lg">Search</span>
            <input type="text" required="true" autofocus="autofocus" class="form-control ip" placeholder="2001:db8::/32" aria-describedby="inputGroup-sizing-lg" name="q" {% if searchquery %}value="{{searchquery}}"{% endif %}>
            <div class="input-group-btn input-group-lg">
                <select class="form-select" name="match">
                    <option value="exact" {% if match == "exact" %}selected{% endif %}>Exact match</option>
                    <option value="orlonger" {% if match == "longer" %}selected{% endif %}>Or longer</option>
                </select>
            </div>
            &nbsp; <span class="input-group-text">on</span>
            <div class="input-group-btn input-group-lg">
                <select class="multi-select form-control" name="peer" id="peerselect" multiple="multiple">
                    {% for item in peers %}{% if item.state == "Established" and item.prefixes > 0 %}<option {% if peer and item.name.split(' ')[0] in peer %}selected{% endif %} value="{{item.name}}">{{ item.name }} (AS{{ item.remote_as }})</option>{% endif %}{% endfor %}
                </select>
            </div>&nbsp;
            <button type="submit" class="btn btn-danger" type="submit">Show routes</button>
        </div>
        <div class="input-group justify-content-center stats">
            <p>
                <br/>
                IPv4: {{ '{:,}'.format(totals["v4_up"]) }} peers up, {{ '{:,}'.format(totals["v4_down"]) }} down, {{ '{:,}'.format(totals["v4_pfx"]) }} prefixes received<br/>
                IPv6: {{ '{:,}'.format(totals["v6_up"]) }} peers up, {{ '{:,}'.format(totals["v6_down"]) }} down, {{ '{:,}'.format(totals["v6_pfx"]) }} prefixes received
            </p>
        </div>
    </form>
</div>
<div class="footer fixed-bottom">
    The NLNOG Looking Glass is provided by <a href="https://nlnog.net">NLNOG</a>. Hosting is sponsored by <a href="https://bit.nl">BIT</a>.
    Questions? Please contact us at <a href="mailto:ring-admins@nlnog.net">ring-admins@nlnog.net</a>.
</div>
{% endblock %}
