{% extends "layout.html" %}
{% block body %}
<br/>
<h2>
    Peer details for '{{ peer }}'
</h2>
<br/>
<table class="table">
    <tr>
        <td>Remote ASN</td>
        <td><a href="/whois?q={{ data.remote_as }}" class="whois">{{ data.remote_as }}</a>{% if ringnodes %}<br>NLNOG RING node{% if ringnodes|length > 1 %}s{% endif %}: {% for node in ringnodes|sort %}<span class=orange>{{ node }}</span> ({{ ringnodes[node]["countrycode"] }}) {% endfor %}{% endif %}</td>
    </tr>
    <tr>
        <td>Remote IP</td>
        <td><a href="/whois?q={{ data.remote_addr }}" class="whois">{{ data.remote_addr }}</a></td>
    </tr>
    <tr>
        <td>BGP State</td>
        <td><button type="button" class="btn btn-sm btn-{% if data.state == "up" or data.state == "Established" %}success{% else %}danger{% endif %}">{{data.state}}</button>
        </td>
    </tr>
    <tr>
        <td>Last up/down</td>
        <td>{{ data.last_updown }}</td>
    </tr>
    {%- if data.state == "Established" %}
    <tr>
        <td>Prefixes received</td>
        <td>{{ '{:,}'.format(data.stats.prefixes.received) }}</td>
    </tr>
    <tr>
        <td>Capabilities</td>
        <td>
            <button type="button" class="btn btn-sm btn-outline-{% if data.session.capabilities.as4byte %}success{% else %}danger text-decoration-line-through{% endif %}" data-toggle="tooltip" data-placement="bottom" animation="true" title="4-byte ASN is {% if not data.session.capabilities.as4byte %}not {% endif %} supported">4-byte ASN</button>&nbsp;
            <button type="button" class="btn btn-sm btn-outline-{% if data.session.capabilities.refresh %}success{% else %}danger text-decoration-line-through{% endif %}" data-toggle="tooltip" data-placement="bottom" animation="true" title="refresh is {% if not data.session.capabilities.refresh %}not {% endif %} supported"">refresh</button>&nbsp;
            <button type="button" class="btn btn-sm btn-outline-{% if data.session.capabilities.enhanced_refresh %}success{% else %}danger text-decoration-line-through{% endif %}" data-toggle="tooltip" data-placement="bottom" animation="true" title="enhanced refresh is {% if not data.session.capabilities.enhanced_refresh %}not {% endif %} supported">enhanced refresh</button>
            <button type="button" class="btn btn-sm btn-outline-{% if data.session.capabilities.open_policy == "present" %}success{% else %}danger text-decoration-line-through{% endif %}" data-toggle="tooltip" data-placement="bottom" animation="true" title="BGP Roles are {% if not data.session.capabilities.open_policy == "present" %}not {% endif %} supported">BGP roles</button>
        </td>
    </tr>
    {% if data.session.capabilities["open_policy"] == "present" %}
    <tr>
        <td>Local BGP role</td>
        <td>{{ data.session.local_role }}</td>
    </tr>
    <tr>
        <td>Remote BGP role</td>
        <td>{{ data.session.remote_role }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Protocols</td>
        <td>{% for proto in data.session.capabilities.multiprotocol %}
            <button type="button" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="bottom" animation="true" title="{{ proto }} is supported">{{ proto }}</button>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Add-path</td>
        <td>{% if data.session.remote.capabilities["add-path"] %}
                {% for ap in data.session.remote.capabilities["add-path"] %}
                    <button type="button" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="bottom" animation="true" title="{{ ap.mode }} {{ ap.family }} is supported">{{ ap.mode }} {{ ap.family }}</button>
                {% endfor %}
            {% else %}
                <button type="button" class="btn btn-sm btn-outline-danger"  data-toggle="tooltip" data-placement="bottom" animation="true" title="Add-path is not supported">Not supported</button>
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>
</pre>
<br />

{% endblock %}
