{% extends "layout.html" %}
{% block body %}
<br/>
<h2>
    Routes found{% if peer != 'all' %} on {{ peer | join(", ") }}{% endif %} for '{{ prefix }}'
</h2>
<a href="/prefix/map?saved={{query_id}}" class="btn btn-primary btn-sm" style="margin-bottom: 0.25rem; line-height: 1.2;"><i class="bi bi-map"></i> map</a>
<a href="/prefix/text?saved={{query_id}}" class="btn btn-primary btn-sm" style="margin-bottom: 0.25rem; line-height: 1.2;"><i class="bi bi-body-text"></i> plain text</a>
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticModal" style="margin-bottom: 0.25rem; line-height: 1.2;"><i class="bi bi-link-45deg"></i> permalink</button>
<a href='/prefix?q={{prefix}}{% for p in peer %}&peer={{p}}{% endfor %}&match={{match}}' class="btn btn-primary btn-sm" style="margin-bottom: 0.25rem; line-height: 1.2;"><i class="bi bi-arrow-clockwise"></i> renew</a>
<br/>
  <!-- Modal -->
  <div class="modal fade" id="staticModal" tabindex="-1" aria-labelledby="staticModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticModalLabel">Permalink</h5>
          <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            The current looking glass output is stored at:
            <pre>

<a href="{{request.host_url}}prefix?saved={{query_id}}">{{request.host_url}}prefix?saved={{query_id}}</a></pre>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" onclick="navigator.clipboard.writeText('{{request.host_url}}prefix?saved={{query_id}}');">Copy URL</button>
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div id="routes">
{% if routes | length == 0 %}
    <div class="alert alert-danger" role="alert">No matching routes found.</div>
{% else %}
{% if collected %}
    <div class="alert alert-warning" role="alert">This data was previously collected at {{ collected }}</div>
{% endif %}
<div class="accordion accordion-flush" id="prefix{{prefix}}">
{% for prefix in routes %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading{{loop.index}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{loop.index}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{loop.idex}}">
            Prefix: {{ prefix }}&nbsp;<span class="small"><span class="badge bg-primary">{{ routes[prefix] | length }}</span></span>
        </button>
    </h2>
    <div id="panelsStayOpen-collapse{{loop.index}}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading{{loop.index}}">
        <div class="accordion-body">
    <a href="https://irrexplorer.nlnog.net/prefix/{{prefix}}" class="btn btn-community btn-primary"><i class="bi bi-patch-check"></i> IRR Explorer</a>
    <a href="/whois?q={{prefix}}" class="btn btn-community btn-primary btn-sms whois"><i class="bi bi-search"></i> WHOIS</a>
{%- for route in routes[prefix] %}
<div class="d-flex bd-highlight mb-3 peername">
    <div class="me-auto p-2 bd-highlight">
        <span class="badge bg-secondary">{{loop.index}}</span> {{ route.peer }}
    </div>
    <div class="p-2 bd-highlight"><a href="/prefix?q={{prefix}}&match={{match}}&peer={{route.peer}}"><i class="bi bi-box-arrow-up-right"></i></a>
    </div>
  </div>
<table class="table">
    <tr>
        <td width="15%">AS-Path</td>
	<td class="data">{% for as in route.aspath %}{% if as[0] == '{' or as[0] == '}'%}{{ as[0] }}{% else %}<button type="button" class="btn btn-sm btn-community btn-outline-primary" data-toggle="tooltip" data-placement="top" title="{{ as[1] }}{% if as[0]|int in ringnodes.keys() %}<br><span class=ringnodes>{{ ringnodes[as[0]|int]|length}} NLNOG RING node{% if ringnodes[as[0]|int]|length > 1 %}s{% endif %}</span>{% endif %}"><a href="/whois?q={{ as[0] }}" class="whois asn">{{ as[0] }}</a></button>{% endif %} {% endfor %}via next-hop <a href="/whois?q={{ route.exit_nexthop }}" class="whois">{{ route.exit_nexthop }}</a></td>
    </tr>
    <tr>
	 <td>Origin validation state</td>
	<td class="data"><button type="button" class="btn btn-sm btn-{% if route.ovs == "valid" %}success{% elif route.ovs == "invalid" %}danger text-decoration-line-through{% else %}secondary{% endif %}">{{ route.ovs }}</button></td>
    </tr>
    <tr>
        <td>ASPA validation state</td>
       <td class="data"><button type="button" class="btn btn-sm btn-{% if route.avs == "valid" %}success{% elif route.avs == "invalid" %}danger text-decoration-line-through{% else %}secondary{% endif %}">{{ route.avs }}</button></td>
    </tr>
    <tr>
        <td>Only To Customer (OTC)</td>
        <td class="data">{% if route.otc %}yes, ASN: <button type="button" class="btn btn-sm btn-community btn-outline-primary" data-toggle="tooltip" data-placement="top" title="{{ route.otc[1] }}{% if route.otc[0]|int in ringnodes.keys() %}<br><span class=ringnodes>{{ ringnodes[route.otc[0]|int]|length}} NLNOG RING node{% if ringnodes[route.otc[0]|int]|length > 1 %}s{% endif %}</span>{% endif %}"><a href="/whois?q={{ route.otc[0] }}" class="whois asn">{{ route.otc[0] }}</a></button{%else %}no{% endif %}</td>
    </tr>
    <tr>
        <td>Origin</td>
        <td class="data">{{ route.origin }}</td>
    </tr>
    <tr>
        <td>MED</td>
        <td class="data">{{ route.metric }}</td>
    </tr>
    <tr>
        <td>Last update</td>
        <td class=""data">{{route.last_update_at}} ({{route.last_update}} ago)</td>
    </tr>
    {% if route.communities %}
    <tr>
        <td>Communities</td>
        <td class="data">{% for community in route.communities %}{% if community[1]  %}<button type="button" class="btn btn-community btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="bottom" animation="true" title="{{ community[1] }}">{{ community[0] }} <span class="comm2text">({{ community[1][:25] }}{% if community[1] | length >25 %}...{% endif %})</span></button>{% else %}<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" animation="true" title="no community details available">{{ community[0] }}</button>{% endif %} {% endfor %}</td>
    </tr>
    {% endif %}
    {% if route.extended_communities %}
    <tr>
        <td>Extended communities</td>
        <td class="data">{% for community in route.extended_communities %}{% if community[1]  %}<button type="button" class="btn btn-community btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="bottom" animation="true" title="{{ community[1] }}">{{ community[0] }} <span class="comm2text">({{ community[1][:25] }}{% if community[1] | length >25 %}...{% endif %})</span></button>{% else %}<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" animation="true" title="no community details available">{{ community[0] }}</button>{% endif %} {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if route.large_communities %}
    <tr>
        <td>Large communities</td>
	    <td class="data">{% for community in route.large_communities %}{% if community[1]  %}<button type="button" class="btn btn-community btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="bottom" animation="true" title="{{ community[1] }}">{{ community[0] }} <span class="comm2text">({{ community[1][:25] }}{% if community[1] | length >25 %}...{% endif %})</span></button>{% else %}<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" animation="true" title="no community details available">{{ community[0] }}</button>{% endif %} {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>

{% endfor %}
</div>

</div>

</div>
{% endfor %}
</div>
</div>
{% endif %}

<div class="footer">
    The NLNOG Looking Glass is provided by <a href="https://nlnog.net">NLNOG</a>. Hosting is sponsored by <a href="https://bit.nl">BIT</a>.
    Questions? Please contact us at <a href="mailto:ring-admins@nlnog.net">ring-admins@nlnog.net</a>.
</div>
{% endblock %}
