{% extends "layout.html" %}
{% block body %}
<br/>
<h2>
    Routes found{% if peer != 'all' %} on {{ peer }}{% endif %} for '{{ prefix }}' <a href="/prefix/map?{{ request.query_string.decode() }}" class="btn btn-secondary btn-sm" style="margin-bottom: 0.25rem; line-height: 1.2;">map</a> <a href="/prefix/text?{{ request.query_string.decode() }}" class="btn btn-secondary btn-sm" style="margin-bottom: 0.25rem; line-height: 1.2;">plain text</a>
</h2>
<br/>

{% if routes | length == 0 %}
    <div class="alert alert-danger" role="alert">No matching routes found.
{% else %}
<div class="accordion accordion-flush" id="prefix{{prefix}}">
{% for prefix in routes %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading{{loop.index}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{loop.index}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{loop.idex}}">
            Prefix: {{ prefix }}&nbsp;<span class="small"><span class="badge bg-primary">{{ routes[prefix] | length }}</span></span>
        </button>
    </h2>
    <div id="panelsStayOpen-collapse{{loop.index}}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading{{loop.index}}">
        <div class="accordion-body">
    <a href="https://irrexplorer.nlnog.net/prefix/{{prefix}}" class="btn btn-community btn-primary"><i class="bi bi-patch-check"></i> IRR Explorer</a>
    <a href="/whois?q={{prefix}}" class="btn btn-community btn-primary btn-sms whois"><i class="bi bi-search"></i> WHOIS</a>
{%- for route in routes[prefix] %}
{% if peer != route.peer %}
<span class="d-block p-2 peername"><span class="badge bg-secondary">{{loop.index}}</span> {{ route.peer }}</span>
{% endif %}
<table class="table">
    <tr>
        <td width="15%">AS-Path</td>
	<td class="data">{% for as in route.aspath %}<span data-toggle="tooltip" data-placement="top" title="{{ as[1] }}"><a href="/whois?q={{ as[0] }}" class="whois">{{ as[0] }}</a></span> {% endfor %}via next-hop <a href="/whois?q={{ route.exit_nexthop }}" class="whois">{{ route.exit_nexthop }}</a></td>
    </tr>
    <tr>
	 <td>Validation state</td>
	<td class="data"><button type="button" class="btn btn-sm btn-{% if route.ovs == "valid" %}success{% elif route.ovs == "invalid" %}danger{% else %}secondary{% endif %}">{{ route.ovs }}</button></td>
    </tr>
    <tr>
        <td>Origin</td>
        <td class="data">{{ route.origin }}</td>
    </tr>
    <tr>
        <td>MED</td>
        <td class="data">{{ route.metric }}</td>
    </tr>
    <tr>
        <td>Last update</td>
        <td class=""data">{{route.last_update_at}} ({{route.last_update}} ago)</td>
    </tr>
    <tr>
        <td>Communities</td>
        <td class="data">{% for community in route.communities %}{% if community[1]  %}<button type="button" class="btn btn-community btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="bottom" animation="true" title="{{ community[1] }}">{{ community[0] }}</button>{% else %}<button type="button" class="btn btn-sm btn-outline-secondary">{{ community[0] }}</button>{% endif %} {% endfor %}</td>
    </tr>
    <tr>
        <td>Extended communities</td>
	<td class="data"d>{% for community in route.extended_communities %}<button type="button" class="btn btn-community btn-sm btn-outline-secondary">{{ community }}</button>&nbsp;{% endfor %}</td>
    </tr>
    <tr>
        <td>Large communities</td>
	<td class="data"d>{% for community in route.large_communities %}<button type="button" class="btn btn-community btn-sm btn-outline-secondary">{{ community }}</button>&nbsp;{% endfor %}</td>
    </tr>
</table>

{% endfor %}
</div>

</div>

</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}
