{% extends "layout.html" %}
{% block body %}
<br/>
<h2>BGP Peer Summary</h2>
<br/>
<table class="table table-striped table-bordered table-condensed table-summary">
<thead>
	<tr><th>Name</th><th>ASN</th><th>state</th><th>since</th></th><th>prefixes received</th></tr>
</thead>
<tbody>
	{% for row in summary %}
	<tr class="{{ loop.cycle('odd', 'even') }}">
        <td><a href="/detail/{{row.name}}">{{ row.name }}</a></td>
		<td><a href="/whois?q={{row.remote_as}}" class="whois">{{ row.remote_as }}</a></td>
        <td><button type="button" class="btn btn-sm btn-outline-{% if row.state == "up" or row.state == "Established" %}success{% else %}danger{% endif %}">{{row.state}}</button></td>
        <td>{{ row.since }}</td>
        <td class="data">{{ row.prefixes }}</td>
    </tr>
	{% else %}
	<tr><td>{{summary.error}}</td><td></td><td></td><td></td><td></td><td></td></tr>
	{% endfor %}
</tbody>
</table>
{{ '{:,}'.format(totals["v4_up"]) }} IPv4 peers up and {{ '{:,}'.format(totals["v4_down"]) }} IPv4 peers down, {{ '{:,}'.format(totals["v4_pfx"]) }} IPv4 prefixes received in total.<br/>
{{ '{:,}'.format(totals["v6_up"]) }} IPv6 peers up and {{ '{:,}'.format(totals["v6_down"]) }} IPv6 peers down, {{ '{:,}'.format(totals["v6_pfx"]) }} IPv6 prefixes received in total.

</p>
{% endblock %}